# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

Source/BusDriver/BusDriver/x64/
Source/BusDriver/BusDriver/Win32/
Source/BusDriver/GraphicsLibrary/x64/
Source/BusDriver/GraphicsLibrary/Win32/
Source/BusDriver/PhysicsLibrary/x64/
Source/BusDriver/PhysicsLibrary/Win32/
*.orig
*.suo
*.opendb
*.db
*.sdf
Source/BusDriver/GraphicsLibrary/Debug/
Source/BusDriver/x64/
Source/BusDriver/.vs/
